.index {
    background-color: $bacColor;
    font-size: 30px;
    .product-lis {
        background-color: #fff;
        margin-bottom: 20px;
        padding: 30px 30px 10px;
        .product-title {
            font-size: 36px;
            color: #000;
            line-height: 1.4;
            text-align: left;
            font-weight: 900;
            @include left_icon(3px, 36px, $baseColor);
        }
        .product-li {
            position: relative;
            padding: 20px 30px 20px 180px;
            min-height: 200px;
            .product-li-img {
                width: 160px;
                height: 160px;
                position: absolute;
                left: 0;
                top: 50%;
                margin-top: -80px;
                border-radius: 5px;
            }
            .iconfont {
                font-size: 32px;
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -16px;
                color: #b1b1b1;
            }
            .product-li-title {
                font-size: 34px;
                line-height: 1.2;
                margin-bottom: 3px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .product-li-desc {
                font-size: 26px;
                color: #878787;
                line-height: 1.2;
            }
            .product-li-m {
                position: absolute;
                bottom: 20px;
                left: 180px;
                color: #ff7200;
                font-size: 24px;
                > span {
                    font-size: 40px;
                    line-height: 1.2;
                }
            }
        }
    }
}
